<!DOCTYPE html>
<html>
<head>
    <title>junkfilm</title>

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="jquery.localscroll.js" type="text/javascript"></script> 
    <script src="jquery.scrollTo.js" type="text/javascript"></script> 
    <script src="js/main.js"></script>
</head>
<body>
    <header id="top_header" class="clearfix">
        <div class="wrapper">
            <h1 class="logo"><span>junkFILM</span></h1>

            <a href="#" class="menu"><i class="fa fa-bars" style="color:white"></i></a>
            <nav id="main_nav">
                <a href="#">Movies</a>
                <a href="#top_movies">movie of the week</a>
                <a href="#newsletter">subscribe</a>
            </nav>
        </div>
    </header>

    <section id="banner" class="clearfix">
        <div id="banner_content_wrapper">
            <!-- <div id="poster">
                <img src="assets/movies/deadpool.jpg" alt="Deadpool Movie Poster" class="featured_image">
                <img src="assets/play_button.png" alt="Play Trailer" class="play_button">
            </div> -->
            <div id="content">
                <!-- <h2 class="title">Deadpool</h2>
                <div class="ratings">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star inactive"></i>
                </div> -->
                <h1 class="greeting">Welcome</h1>

                <p class="description">Welcome to junkFILM where you'll find the most interesting movies to ever be made, if you have any suggestions send me a note and i'll check it out and see if it qualifies, have a good night and day!</p>

               <!--  <p class="info">R <span>|</span> 108 min <span>|</span> Action, Adventure, Comedy <span>|</span> 12 February 2016</p> -->
            </div>
        </div>

    </section>

    <section id="top_movies" class="clearfix">
        <div class="wrapper">
            <header class="clearfix">
                <h2>Movie of the week</h2>
<!--                 <p class="view_more">View All Movies</p>
 -->            </header>

            <div class="row clearfix">
                <div class="post">
                    <img src="assets/movies/creepshowp.jpg">
                    
                    <h3 class="title">Creepshow (1982)</h3>
                    <p class="post_info">R | 2 hours | comedy, horror</p>
                    
                </div>

                <div class="post">
                    <img src="assets/movies/creepshow2.jpg"  width="329">
                    <img src="assets/movies/creepshow3.jpg"
                    height="180" width="329">
                    <img src="assets/movies/creepshow4.jpg"  width="329">
    
                </div>

<!-- //firstpost
 -->


                <!-- <div class="post">
                    <img src="assets/movies/inside-out.jpg" alt="Inside Out">
                    <h3 class="title">Inside Out</h3>
                    <p class="post_info">PG13 | 109 Minutes</p>
                </div>

                <div class="post">
                    <img src="assets/movies/jurassic-world.jpg" alt="Jurassic World">
                    <h3 class="title">Jurassic World</h3>
                    <p class="post_info">PG13 | 109 Minutes</p>
                </div>

                <div class="post">
                    <img src="assets/movies/mad-max.jpg" alt="Mad Max">
                    <h3 class="title">Mad Max</h3>
                    <p class="post_info">PG13 | 109 Minutes</p>
                </div>

                <div class="post">
                    <img src="assets/movies/star-wars.jpg" alt="Star Wars">
                    <h3 class="title">Star Wars</h3>
                    <p class="post_info">PG13 | 109 Minutes</p>
                </div>

                <div class="post">
                    <img src="assets/movies/avengers.jpg" alt="The Avengers">
                    <h3 class="title">Avengers</h3>
                    <p class="post_info">PG13 | 109 Minutes</p>
                </div>
            </div> -->

        </div>
        <p>An anthology which tells five terrifying tales based on the E.C. horror comic books of the 1950s.
        <br><br> This movie is a classic, directed by George A. Romero and written by Stephen king. It has these wacky scenes and the lighting used in this film is purely technique. If you like dark comedy you'll definitely like this film where horrible situations turn goofy or stay horrible depending on the background music, gotta say The Lonesome Death of Jordy Verrill, the crate, and they're creeping up on you was my favorite </p>
    </section>

    <!-- <section id="top_shows" class="clearfix">
        <div class="wrapper">
            <header class="clearfix">
                <h2>Popular Shows</h2>
                <p class="view_more">View All Shows</p>
            </header>

            <div class="row">
                <div class="post">
                    <img src="assets/tv_shows/walking-dead.jpg" alt="The Walking Dead">
                    <h3 class="title">The Walking Dead</h3>
                    <p class="post_info">PG13 | Season 4</p>
                </div>

                <div class="post">
                    <img src="assets/tv_shows/game-of-thrones.jpg" alt="Game Of Thrones">
                    <h3 class="title">Game Of Thrones</h3>
                    <p class="post_info">PG13 | Season 6</p>
                </div>

                <div class="post">
                    <img src="assets/tv_shows/breaking-bad.jpg" alt="Breaking Bad">
                    <h3 class="title">Breaking Bad</h3>
                    <p class="post_info">PG13 | Season 5</p>
                </div>

                <div class="post">
                    <img src="assets/tv_shows/empire.jpg" alt="Empire">
                    <h3 class="title">Empire</h3>
                    <p class="post_info">PG13 | Season 2</p>
                </div>

                <div class="post">
                    <img src="assets/tv_shows/master-of-none.jpg" alt="Master of None">
                    <h3 class="title">Master of None</h3>
                    <p class="post_info">PG13 | Season 1</p>
                </div>

                <div class="post">
                    <img src="assets/tv_shows/mr-robot.jpg" alt="Mr Robot">
                    <h3 class="title">Mr Robot</h3>
                    <p class="post_info">PG13 | Season 1</p>
                </div>
            </div>

        </div>
    </section> -->

    <section id="newsletter">
        <div class="newsletter_inner">
            <h2>Get the best Movie &amp; TV Show trailers straight in your inbox each week.</h2>
            <div class="sign_up_form">
                <input type="text" placeholder="First Name">
                <input type="email" placeholder="Email Address">
                <button class="button">Subscribe</button>
            </div>
        </div>
    </section>

    <footer id="main_footer">
        <p class="logo">Movies<span>&amp;</span>Stuff</p>
        <p class="copyright">&copy;2016 Movies &amp; Stuff. All Rights Reserved.</p>
        <div class="links">
            <a href="#">Terms of Service</a>
            <a href="#">Privacy Policy</a>
        </div>
    </footer>
</body>
</html>