<!DOCTYPE html>
<html>
<head>
  <title>Junkfilm</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header id="top_header" class="clearfix">
        <div class="wrapper">
            <h1 class="logo"><span>junkFILM</span></h1>

            <a href="#" class="menu"><i class="fa fa-bars" style="color:white"></i></a>
            <nav id="main_nav">
            	<a href="/">Home</a>
                <a href="/movies">Movies</a>
                <a href="/#top_movies">movie of the week</a>
                <a href="#newsletter">subscribe</a>
            </nav>
        </div>
    </header>
<%= yield %>

</body>
</html>
